*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style-type:none;
}
:root{
    --primary-font:'Open Sans', sans-serif;
    --secondary-font:'Roboto', sans-serif;;
    --color-font:#007bff;
    --color-light:#f8f9fa;
}
/*Generales*/
html{
    font-size: 16px; /*1rem*/
}
.container{
    width: 85%;
    margin: 0 auto;
}

/*Navigation*/
.navbar{
    background-color: var(--color-font);
    padding: 1.5rem 0;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: var(--color-light);
    font-size: 1.3rem;
    font-weight: bold;
    font-family: var(--primary-font);
}

.navigation-container{
    display:flex;
    justify-content: space-between;
    width: 45%;
} 
.navigation-link{
    color: var(--color-light);
    font-size: 1.1rem;
    font-family: var(--secondary-font);
    font-weight: 300;
}
.navigation-link:hover{
    text-decoration: underline;
}
.networks-container{
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.network-link{
    color: var(--color-light);
    font-size: 1.2rem;
    opacity: 0.7;
}

.network-link i{
    transition:transform 1s ease-in;
}

.network-link:hover i{
    transform: scale(1.5);
}


/*Medium*/
/* 769 - 900*/
@media only screen and (max-width:900px){
    .navbar{
        background-color: #dc3545;
    }
    .networks-container{
        display: none;
    }
}

/*Mobile*/
/* 0 ---- 768 769*/
@media only screen and (max-width:768px){
    .logo{
        margin-bottom: 1em;
    }
    .navbar{
        background-color: #28a745;
    }
    .navigation{
        flex-direction: column;
    }
    .navigation-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 1em;
    }
    .navigation-list{
        margin-bottom: 0.5em;
    }
    
    .networks-container{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
}

